<!DOCTYPE html>
<html>
<head><title>Hoster</title></head>
<link href="style.css" rel="stylesheet" type="text/css">
<body>
<form action="/new_party" method="post">
  Party Name: <input type="text" name="party_name">
  Party Size: <input type="number" name="party_size">
  Phone Number: <input type="number" name="party_phone">
  <input type="submit" value="Submit">
</form>
<ul>
  <% parties.each do |party| %>
      <li><%= party.name %> - <%= party.size %> - <%= party.phone %> -
        <% if party.has_wait_time? %>
        "Been waiting for <%= party.wait_time %> minutes"
        <% end %>
        <form action="/delete/<%= party.name %>" method="post"><input value="Remove" type="submit"></form>
      </li>
  <% end %>
</ul>
</body>
</html>